<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="inc/header">
    <title>Quản lý Tour</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
<div id="main-wrapper">
    <div th:insert="inc/form-layout"></div>

    <!--**********************************
        Content body start
    ***********************************-->

    <div class="content-body">
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title row">
                                <div class="col-md-12 mb-4">
                                    <h3 class="td-center">ĐĂNG KÝ DỰ THI</h3>
                                    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                                </div>
                            </div>
                            <form th:if="${trinhDos}" th:action="@{/dangky}" method="post">
                                <div class="row">
                                    <div class="col-lg-12 mb-3"><h3>Thông tin đăng ký</h3></div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Trình độ <span class="text-danger">*</span></label>
                                                    <select class="form-control" name="TrinhDo" required>
                                                        <option value="">-- Chọn trình độ --</option>
                                                        <option th:each="td : ${trinhDos}"
                                                                th:value="${td.maTrinhDo}"
                                                                th:text="${td.tenTrinhDo}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Họ tên thí sinh <span class="text-danger">*</span></label>
                                                    <input type="text" name="HoTenThiSinh" class="form-control"
                                                           placeholder="Nhập họ tên..." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Giới tính <span class="text-danger">*</span></label>
                                                    <select class="form-control" name="GioiTinh" required>
                                                        <option value="1">Nam</option>
                                                        <option value="0">Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ngày sinh <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mydatepicker"
                                                               name="NgaySinh" placeholder="mm/dd/yyyy" required> <span
                                                            class="input-group-append"><span class="input-group-text"><i
                                                            class="mdi mdi-calendar-check"></i></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>CMND/CCCD <span class="text-danger">*</span></label>
                                                    <input type="text" name="CMND" class="form-control"
                                                           placeholder="Nhập CMND/CCCD..." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ngày cấp <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control mydatepicker"
                                                               name="NgayCap" placeholder="mm/dd/yyyy" required> <span
                                                            class="input-group-append"><span class="input-group-text"><i
                                                            class="mdi mdi-calendar-check"></i></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nơi cấp <span class="text-danger">*</span></label>
                                                    <input type="text" name="NoiCap" class="form-control"
                                                           placeholder="Nhập nơi cấp..." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Số điện thoại <span class="text-danger">*</span></label>
                                                    <input type="text" name="SDT" class="form-control"
                                                           placeholder="Nhập số điện thoại..." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email <span class="text-danger">*</span></label>
                                                    <input type="email" name="Mail" class="form-control"
                                                           placeholder="Nhập email..." required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Địa chỉ <span class="text-danger">*</span></label>
                                                    <input type="text" name="DiaChi" class="form-control"
                                                           placeholder="Nhập địa chỉ..." required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 td-center">
                                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <script>
        function CapPhatMaNV() {
            $('#manv').val('NV000001');
            $('#btn-nv').prop('disabled', true);
        }
    </script>


    <!--**********************************
        Content body end
    ***********************************-->
    <div th:insert="inc/footer"></div>
</div>
</body>

</html>
